
* {background-color: rgb(231, 158, 219);}
h1 {color: white; text-align: center;}
h2 {color: white;}
h3 {color: white;}
p {color: rgb(5, 17, 73); font-size: 20px;}  
strong {color: rgb(43, 32, 138);}
ul {color: rgb(5, 17, 73); font-size: 18px;} 
a {color: rgb(5, 17, 73);} 
ol {color: rgb(5, 17, 73); font-size: 18px;}
