
* {background-color: rgb(68, 162, 93);}
h1 {color: white; text-align: center;}
h2 {color: white;}
p {color: rgb(51, 79, 203); font-size: 20px;}  
strong {color: rgb(25, 0, 255);}
li {color: white; font-size: 18px;} 
a {color: rgb(0, 0, 0);} 
